* {
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  background-color: #18181b;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: white;
}

p {
  text-align: justify;
  color: white;
}

section h3,
section ul,
section ul li {
  color: white;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: -5px;
  left: 0;
  transition: width 0.5s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.profile img {
  max-width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.jumbotron {
  font-size: 20px;
  text-align: center;
  padding: 60px;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  flex: 2;
}

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: none;
}

img.displaySlide {
  display: block;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

header {
  display: inline;
}

footer {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}
